<div class="row">

  <div class="col-sm-6" *ngIf="professorSelecionado">
    <div class="row">
      <div class="col-sm-6">
        <h3>{{titulo}}</h3>
        <h6>Aluno(a) selecionado(a): {{" " + professorSelecionado.nome}}</h6>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-outline-danger" (click)="voltar()">Voltar a lista</button>
      </div>
    </div>
    <hr>
    <form [formGroup]="professorForm" (submit)="professorSubmit()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input  type="text" class="form-control"
                formControlName="nome">
      </div>
      <div class="form-group">
        <label for="disciplina">Disciplina</label>
        <input  type="text" class="form-control"
                formControlName="disciplina">
      </div>
      <div class="form-group">
        <hr>
        <input type="submit" class="btn btrn btn-success" value="Enviar"/>
      </div>
    </form>
  </div>
  <div [ngClass]="{'col-sm-6': professorSelecionado, 'col-sm-12': !professorSelecionado}">
    <h3>{{titulo}}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Visualizar</th>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores" (click)="professorSelect(professor)">
        <td>
          <button (click)="professorSelect(professor)" class="btn btn-sm btn-outline-warning">Detalhes</button>
        </td>
        <td scope="row">{{professor.id}}</td>
        <td>{{professor.nome}}</td>
        <td>{{professor.disciplina}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-outline-success" style="margin: 0 2px;">Editar</button>
            <button class="btn btn-sm btn-outline-danger" style="margin: 0 2px;">Excluir</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
